img {
    width: 50%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 24px;
}

body {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.myButton {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background: #27AE60;
    color: white;
    border: none;
    border-radius: 16px;
}

#title {
    margin-bottom: 64px;
}

h1, h5 {
    color: #4F4F4F;
}

.card-image {
    padding: 24px;
    margin-top: 32px;
    -webkit-box-shadow: 0px 0px 57px -8px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 57px -8px rgba(204,204,204,1);
    box-shadow: 0px 0px 57px -8px rgba(204,204,204,1);
}
